body {
  display: flex;
  margin: 0;
  height: 100vh; /* full viewport height */
}

#sidebar {
  width: 300px;
  padding: 20px;
  background-color: #111827;
  overflow-y: auto;
}

#map {
  flex: 1;
  height: 100vh; /* full height */
}