html

body{
    height:100%;
    margin:0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #111827;
}
.menu {
  background-color : #101935ff;
  overflow: hidden;
  padding: 10px;
}
 .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }
 .menu ul li {
  float: left;
  }
  .menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    border-radius: 7px;
    margin: 0 10px;
  }
  .menu ul li a:hover {
    background-color: rgb(12, 1, 31);
  }
.header{
    margin:auto;
    font-size:4em;
    font-weight:bold;
    font-family: Arial, sans-serif;
}

.textfont {

  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em; 
}


